<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html class="loginHtml">
<head>
	<meta charset="utf-8">
	<title>登录--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" th:href="@{/static/resources/favicon.ico}">
	<link rel="stylesheet" th:href="@{/static/resources/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/static/resources/css/public.css}" media="all" />
</head>
<body class="loginBody">
	<form id="loginform" class="layui-form" method="get" action="index">
		<div class="login_face"><img th:src="@{/static/resources/images/face.jpg}" class="userAvatar"></div>
		<div class="layui-form-item input-item">
			<label for="userName">用户名</label>
			<input type="text" placeholder="请输入用户名" autocomplete="off" name="userName" id="userName" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item input-item">
			<label for="password">密码</label>
			<input type="password" placeholder="请输入密码" autocomplete="off" name="password" id="password" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item input-item" id="imgCode">
			<label for="code">验证码</label>
			<input name="kaptcha" type="text" placeholder="请输入验证码" autocomplete="off" id="code" class="layui-input">
            <img id="kaptcha" th:src="@{/kaptcha}">
		</div>
		<div class="layui-form-item">
			<button id="button" class="layui-btn layui-block" lay-filter="login" lay-submit>登录</button>
		</div>
		<a th:href="@{/shop/buyerRegist.html}"><button type="button" class="layui-btn layui-btn-normal layui-btn-radius">买家注册</button></a>
		<a th:href="@{/shop/sellerRegist.html}"><button type="button" class="layui-btn layui-btn-normal layui-btn-radius">卖家注册</button></a>
		<span th:text="${session.errormsg}"></span>
	</form>
	</body>
<script type="text/javascript" th:src="@{/static/resources/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/resources/js/cache.js}"></script>
<script type="text/javascript">
	layui.use(['form','layer','jquery'],function(){
		console.log(layui.$.fn.jquery);
		var form = layui.form;
		var	layer = parent.layer === undefined ? layui.layer : top.layer;
		var $ = layui.jquery;
		form.on("submit(login)",function(data){
			$(this).text("登录中...").attr("disabled","disabled").addClass("layui-disabled");
			setTimeout(function(){
				$("#loginform").submit();
			},1000);
			return false;
		});
        $("#kaptcha").click(function () {
            $(this).attr("src","/kaptcha?random"+Math.random());
        });
		//表单输入效果
		$(".loginBody .input-item").click(function(e){
			e.stopPropagation();
			$(this).addClass("layui-input-focus").find(".layui-input").focus();
		});
		$(".loginBody .layui-form-item .layui-input").focus(function(){
			$(this).parent().addClass("layui-input-focus");
		});
		$(".loginBody .layui-form-item .layui-input").blur(function(){
			$(this).parent().removeClass("layui-input-focus");
			if($(this).val() != ''){
				$(this).parent().addClass("layui-input-active");
			}else{
				$(this).parent().removeClass("layui-input-active");
			}
		});
	})
</script>
</html>